*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
    background-color: slateblue;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.year{
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown{
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}